@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Poppins:wght@400;500&display=swap");
/* fonts */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #ffff;
  width: 870px;
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
}
hr {
  background: #eeecec;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* First section start */
.section-title {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 3px;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.players img {
  width: 56px;
  height: 56px;
}
.players {
  display: flex;
  align-items: center;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}
/* -------Top Blogs start--------- */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 28px;
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.blog-info {
  padding-left: 16px;
}
.blog-info p {
  color: #9f9f9f9f;
  margin-top: -15px;
  font-size: 16px;
}
.blog-info a {
  text-decoration: none;
}
/* course---------------------------- */
.course .course-banner img {
  width: 100%;
}
.course-rating {
  display: flex;
  justify-content: space-between;
}
.rating span {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffcc40;
  font-size: 12px;
}
.fa-star-half {
  color: #787877;
  font-size: 12px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.course-duration {
  background: #ffe4e8;
  border-radius: 14.6913px;
}
.course-duration span {
  color: #ff4a60;
  font-size: 12px;
}
.fa-clock {
  color: #ff4a60;
  font-size: 12px;
}
.course-duration {
  padding: 1px 5px;
  /* margin-left: 65px; */
}
.course-info > p {
  color: red;
}
.course {
  width: 253px;
  box-shadow: 5px 10px 18px #6f6f6f19;
  padding: 10px;
  border-radius: 5px;
}
/* Media queries====================================*/
/* mobile--------- */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .top-players,
  .blogs,
  .courses {
    disply: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .players,
  .blog {
    flex-direction: column;
  }
  .course {
    width: 93%;
  }
}
/* tablet----------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .top-players,
  .blogs,
  .courses {
    disply: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .players,
  .blog {
    flex-direction: column;
  }
  .course {
    width: 93%;
  }
}
